[Unit]
Description=Starling %i
After=network-online.target
Wants=network-online.target

[Service]
User=byron
Group=byron
Environment="NODE_ENV=production"
ExecStart=starling /srv/starling/%i/index.html

[Install]
WantedBy=multi-user.target
